layout {
  pane split_direction="vertical" {
    pane
  }

  pane size=1 borderless=true {
    plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {

      format_left  "{mode}#[fg=#89B4FA,bg=#d0d5e3,bold] {session}#[bg=#d0d5e3] {tabs}"
      format_right "{command_kubectx}#[fg=#424554,bg=#d0d5e3]::{command_kubens}{datetime}"
      format_space "#[bg=#d0d5e3]"

      mode_locked           "#[fg=#89B4FA,bg=#d0d5e3] 󰌾 "
      mode_normal           "#[fg=#ffc387,bg=#d0d5e3] 󰿆 "
      mode_default_to_mode  "locked"

      tab_normal               "#[fg=#9399B2,bg=#d0d5e3] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
      tab_active               "#[fg=#6172b0,bg=#d0d5e3,bold] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
      tab_fullscreen_indicator "□ "
      tab_sync_indicator       "  "
      tab_floating_indicator   "󰉈 "

      datetime          "#[fg=#9399B2,bg=#d0d5e3] {format} "
      datetime_format   "%A, %d %b %Y %H:%M"
      datetime_timezone "Asia/Shanghai"
    }
  }
}
